<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/users/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/users/assets/css/main.css?v=3.4">
    <style>
        .vh-100 {
    height: 100vh;
}

    </style>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center align-items-center vh-100">
            <div id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab" class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5>Change Your Password</h5>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" onsubmit="return validationPassword()">
                            <div>
                                <% if(typeof msg != 'undefined') {%>
                                 <p class="text-danger" id="msg"><%= msg%></p>
                                 <%}%>
     
                                 </div>
                            <div class="form-group ">
                                <label>Current Password <span class="required">*</span></label>
                                <input required="" class="form-control square" id="password" name="password" type="text">
                            </div>
                            <div class="form-group ">
                                <label>New Password <span class="required">*</span></label>
                                <input required="" class="form-control square" id="npassword" name="npassword" type="password">
                            </div>
                            <div class="form-group ">
                                <label>Confirm Password <span class="required">*</span></label>
                                <input required="" class="form-control square" id="cpassword" name="cpassword" type="password">
                            </div>
                            <div>
                                <button class="btn btn-primary" type="submit">
                                    Change
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
//   function clearMessage() {
//         var msgElement = document.getElementById('msg');
//         if (msgElement) {
//             msgElement.innerHTML = '';
//         }
//     }

//     // Add event listener to clear message on page load
//     window.addEventListener('load', clearMessage);


        function validationPassword()
        {
            var npassword=document.getElementById('npassword').value
            var cpassword=document.getElementById('cpassword').value
            var isValid=true
            if(npassword !== cpassword)
            {
                document.getElementById("msg").innerHTML="New Password and Conform Password not Same!"
                isValid=false

            } 
            else
            {
                document.getElementById("msg").innerHTML=""
            }
            return isValid
        }
      


    </script>
    
<script src="/users/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/users/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/users/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="/users/assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/users/assets/js/plugins/slick.js"></script>
<script src="/users/assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="/users/assets/js/plugins/wow.js"></script>
<script src="/users/assets/js/plugins/jquery-ui.js"></script>
<script src="/users/assets/js/plugins/perfect-scrollbar.js"></script>
<script src="/users/assets/js/plugins/magnific-popup.js"></script>
<script src="/users/assets/js/plugins/select2.min.js"></script>
<script src="/users/assets/js/plugins/waypoints.js"></script>
<script src="/users/assets/js/plugins/counterup.js"></script>
<script src="/users/assets/js/plugins/jquery.countdown.min.js"></script>
<script src="/users/assets/js/plugins/images-loaded.js"></script>
<script src="/users/assets/js/plugins/isotope.js"></script>
<script src="/users/assets/js/plugins/scrollup.js"></script>
<script src="/users/assets/js/plugins/jquery.vticker-min.js"></script>
<script src="/users/assets/js/plugins/jquery.theia.sticky.js"></script>
<!-- Template  JS -->
<script src="/users/assets/js/main.js?v=3.4"></script>
</body>


</html>